__pycache__/
*.py[cod]
*$py.class

# Dağıtım ve Derleme Dosyaları
dist/
build/
*.spec

# Kullanıcı Verileri ve Gizlilik (ÖNEMLİ)
secret.json
shots/
*.log

# Geçici Medya Dosyaları
temp_screenshot.png
webcam_*.png
ekran_*.png